$header-blue: #1893e7;
$main-blue: #085b96;
$link-bg: #eaae00;

/* Header */
@import "header/header";
@import "content/content";
@import "news/news";
@import "review/review";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
