.header {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  color: white;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  z-index: 10;
}

.info {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
  font-size: 13px;
}

.phone,
.mail,
.home {
  display: flex;
  margin-right: 40px;
}

.home {
  margin-right: 50px;
}
.info__text-blue {
  color: $header-blue;
  margin-right: 5px;
}

.info__text-white {
  color: white;
}

.header-icon {
  fill: $header-blue;
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.menu {
  display: flex;
  width: 100%;
}

.menu__logo-link {
  height: 70px;
  display: flex;
  color: white;
  font-size: 10px;
}

.menu__logo-title {
  padding: 10px 30px 15px 0;

  span {
    font-size: 32px;
  }
}

.img-logo {
  margin-right: 20px;
}

nav {
  width: 100%;
}

.menu-item {
  width: 100%;
  padding: 30px 15px 30px 30px;
  font-size: 13px;
  max-height: 70px;
  background-color: $header-blue;
  position: relative;
}
.menu-item-link {
  color: white;
  display: flex;
  transition: all ease 0.2s;
  text-transform: uppercase;
}
.menu-item:hover .menu-item-link {
  color: black;
}

.item-list {
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 13px;
  min-width: 900px;
  padding: 20px 0 15px 240px;
  border-bottom: 1px solid gray;
  transition: all ease 0.2s;
}

.menu-icon {
  height: 10px;
  width: 12px;
  fill: white;
  margin-right: 5px;
}

.menu-item:hover {
  background-color: white;
  color: black;
  .menu-icon {
    transform: rotate(90deg);
    fill: black;
  }
}

.menu-item:hover .item-list {
  display: flex;
}

.list-item {
  display: flex;
  a {
    color: white;
    font-size: 13px;
  }
}

.list-item-border::after {
  content: "/";
  color: white;
  margin: 0 35px;
}
